.logo {
    height: 100%;
    max-height: 50px;
    object-fit: contain;
}

.app-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // dégradé de background couleur du noir au transparent
    background: none;
    padding: 0 20px;
    height: 70px;
    width: 100%;
    border: none;
    z-index: 100;
}

li {
    font-weight: 600;
    font-size: 1rem;
}

.logo {
    height: 40px;
}

.menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#menu {
    background-color: transparent;
    border-bottom: none;
}

#menu .ant-menu-item {
    color: white;
}

.ant-menu {
    min-width: 400px;
    border: none;
}

body {
    margin: 0;
}