# Postgres environnement
POSTGRES_HOST=host
POSTGRES_PORT=port
POSTGRES_USER=nameuser
POSTGRES_PASSWORD=password
POSTGRES_DB=nameDatabase

# Bcrypt
BCRYPT_SALTROUND=valeur

# Clé pour génération token
JWT_SECRET=clesecret
JWT_SECRET_REFRESH_TOKEN=cletsecretrefresh

# Environnement
ENV=dev

